.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0 40px 0;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar  form {
    display: flex;
    justify-content: center;
}

.search-bar  form  input{
    width: 400px;
    border: 2px solid #008987;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

.search-bar  form  input:focus-visible{
    outline: #008987 auto 1px;
}

.search-bar form  button {
    padding:0px 8px;
    font-size: 20px;
    cursor: pointer;
    height: 38px;
    background-color: #008987;
    color: #fff;
    border-radius: 0 5px 5px 0;
    border:1px solid #008987;

}

.search-bar form button:hover {
   background-color: #008987;
   border-color: #008987;
}

@media (max-width:500px) {
    .search-bar  form  input{
        width: 250px;
    }
}